/* Reset Simples */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    list-style: none;;
}

/* Estrutura */

html, body {
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

div, section {
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    font-weight: 300;
}

section, footer {
    text-align: center;
}

.container {
    background: transparent;
    height: calc(100% - 1em);
}

.section {
    cursor: pointer;
}

section, .content {
    height: 25%;
    color: #fff;
    display: flex;
    display: -webkit-flex;
    margin: auto;
    overflow-y: hidden;
    transition: all .5s linear;
}

section > * {
    transition: all .5s linear;
}

.content {
    height: calc(100% - 1em);
    background: #060f18;
}

section > span,
.content span {
    display: block;
    text-align: center;
    margin: auto;
}

.content span {
    font-size: 2000%;
    text-transform: uppercase;
}

section[data-value='a'] {
    background-color: #050c14;
}

section[data-value='b'] {
    background-color: #002d2c;
}

section[data-value='c'] {
    background-color: #0b2b04;
}

section[data-value='d'] {
    background-color: #1f042c;
}

footer {
    height: 1em;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: red;
    background-color: #050c14;
}

/* Comportamento */

.show {
    height: 1em;
}

.show h1 {
    font-size: initial;
    transition: all .5s linear;
}

.hide h1 {
    font-size: initial;
    transition: all .5s linear;
}

.hide {
    transition: all .5s linear;
    height: 0;
}


